.sortable {
  border-collapse: collapse;
  margin-left:auto; 
  margin-right:auto;
  
}
.sortable th, .sortable td{
  text-align: left;
  padding: 8px;
  border:1px solid black;
}

.sortable thead {
    background-color:#eee;
    font-weight: bold;
    cursor: default;
}

.sortable caption {
    background-color:silver;
    font-weight: bold;
    border:1px solid black;
}
